#page {
    background-color: rgb(238, 233, 165);
}

h2 {
    background-color: rgb(255, 161, 53);
    text-align: center;
    padding: 3%;
    font-family: 'Arial Narrow Bold', sans-serif;
    margin: 4%;
}

#country1,
#country2,
#country3,
#country4 {
    background-color: rgb(255, 251, 0);
    margin-top: .2cm;
    margin-bottom: .2cm;
    margin-left: auto;
    margin-right: auto;
    width: 10%;
}

#b1,
#b2,
#b3,
#b4 {
    background-color: black;
    color: chartreuse;
    font-size: 18pt;
    width: 3cm;
}

#allCount {
    padding: 2%;
    background-color: rgb(255, 251, 0);
    margin-top: 1cm;
    margin-bottom: 1cm;
    margin-left: 2cm;
    margin-right: 2cm;
}